<a href="https://colab.research.google.com/github/pfabreuave/practicas_colab/blob/main/crud_sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

manipulação de um banco de dados Sqlite com python

In [ ]:
import sqlite3 as sql

In [ ]:
turma25_datos = [
            ("Andrea Graciela Sánchez Rivero",100,65.67,31.5,47.5321875),
            ("Andres David Pinto Hurtado",100,84.11,15,42.4059375),
            ("Andres Gabriel Reinoza Arteaga",100,76.78,95.5,90.656875),
            ("Antony José Linares Guevara",77.67,74.89,79.15,77.813125),
            ("Anyela Coromoto Arboleda Angarita",88.67,78.67,73.85,76.595),
            ("Consuelo Ascanio de Balabu",100,92.44,93.65,93.905),
            ("Daily Carolina Campos Jimenez",100,100,84.3,90.1875),
            ("Danilson Nunes Dos Reis",100,81.44,79.8,82.155),
            ("Denis Omar Alayza Delgadillo",100,34.11,0,18.9684375),
            ("Elvin Efraín Conopoy Tortoza",88.67,96.33,96.95,95.999375),
            ("Emmanuel Phillipe Seme Ndjeng",100,26.78,0,16.906875),
            ("Francisco Alfredo",0,0,0,0),
            ("Gabriela Isabel Centeno Guevara",100,0,0,9.375),
            ("German Ulises Guaigua Guacaran",0,0,0,0),
            ("Giselle Cordone",100,79.56,38.05,55.5325),
            ("Gonzalez Pinto Johana Joselín",100,60.22,40.55,51.655625),
            ("Handy Claude Marie Milliance",0,0,0,0),
            ("Heber Oswaldo Abreu Castillo",100,80.44,62.5,71.06125),
            ("Irene Del Rosario Mejías Álvarez",77.67,47.22,50,51.8121875),
            ("Jesus Pasillas Buenrostro",100,89.78,87.8,89.500625),
            ("Jhoel Marcial Gonzalez Azocar",100,90.67,91.95,92.3446875),
            ("Jocelyne Botshimbo M'Pusa",100,86,87.55,88.28125),
            ("Jovino Esteban Guerrero Toledo",100,96.22,54.2,70.311875),
            ("Karina Madelaine Perdomo Garces",100,78.78,30.25,50.438125),
            ("Katherine Andrea Boscan Perdomo",88.67,80.44,71.35,75.5303125),
            ("Katty Josefina Perdomo Garces",88.67,73.11,76.45,76.65625),
            ("Leonor Cecilia Pinto Nino",0,0,0,0),
            ("Lismary Carolina Sandoval Mendez",88.67,63.89,85.85,79.938125),
            ("Luis Alejandro Ariza Arredondo",100,82.33,0,32.5303125),
            ("Luis Andres Rattia Montoya",100,96.33,52.5,69.2803125),
            ("Manuel Jose Rodriguez Izquierdo",44.33,33.22,36.1,36.0615625),
            ("Marcia Joaquim Da Silva",88.67,96.22,74.95,82.2184375),
            ("Marcos Martins Simao",0,0,0,0),
            ("Maribel Colmenares De Nieto",100,76.78,76.15,78.563125),
            ("Marioxis Katiuska Macías Cuyare",100,75.89,84.1,73.9065625),
            ("Markelys Alexandra Pernia Leon",100,73,89.15,76.25),
            ("Michael Junior Reyes Allen",100,82.33,89.95,88.7490625),
            ("Nelson Mondela Cemelus Delva",0,0,0,0),
            ("Nohelimar Josefina Gil Guzman",100,52.89,13.7,32.8128125),
            ("Nzagi Francisco Teca",0,0,0,0),
            ("Pedro Francisco Abreu Arenas",100,79.56,92.35,89.47),
            ("Randal Anrgenis Martinez Velasquez",33.33,3.67,0,4.156875),
            ("Rosanny Janniryth Zapata La Rosa",100,89.78,44.7,62.563125),
            ("Ruben Dario Vasquez Barreto",100,85.11,91,90.1871875),
            ("Rudilson Manuel Ié",100,100,67.05,79.40625),
            ("Sofia Valentina Rumbos Nieves",100,100,95.5,97.1875),
            ("Vijanti Michelle Hardeo Gómez",0,0,0,0),
            ("Virginia Jannalyth Zapata La Rosa",100,67.44,0,28.3425),
            ("Wenega Wama",88.67,23.11,0,14.8125),
            ("Yahiry Celex Sam",100,65.56,68.55,70.6575)
        ]

 Criar banco de dados

In [ ]:
def createDB():
    conn = sql.connect("tt25.db")
    conn.commit()
    conn.close()

Criar tabela no banco de dados

In [ ]:
def createTable():
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     cursor.execute(
        """
            create table t25_notas (
                nome text,
                ctrl_proj real,
                vers_git real,
                python real,
                nota_pond real
            )
        """
     )
     conn.commit()
     conn.close()

 adicionar um registro ao banco de dados

In [ ]:
def insertRow(nome, ctrl_proj, vers_git, python, nota_pond):
    
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"insert into t25_notas values ('{nome}', {ctrl_proj}, {vers_git}, {python}, {nota_pond})"
     cursor.execute(instruccion)
     conn.commit()
     conn.close()

Upload em massa de registros para o banco de dados

In [ ]:
def insertRows(lista_reg):
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"insert into t25_notas values (?, ?, ?, ?, ?)"
     cursor.executemany(instruccion, lista_reg)
     conn.commit()
     conn.close()

Ler registros do banco de dados

In [ ]:
def readRow():
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"select * from t25_notas where nome like 'wene%'"
     cursor.execute(instruccion)
     datos = cursor.fetchall()
     print("\n")
     for dato in datos:
         print(dato)
     conn.commit()
     conn.close()

In [ ]:
def readOrdered(field):
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"select * from t25_notas order by {field}"
     cursor.execute(instruccion)
     datos = cursor.fetchall()
     print("\n")
     for dato in datos:
         print(dato)
     conn.commit()
     conn.close()

Atualizar registros no banco de dados

In [ ]:
def updateFields():
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"update t25_notas set python = 95.8, nota_pond=75.85  where nome = 'Wenega Wama Nuevo'"
     cursor.execute(instruccion)
     conn.commit()
     conn.close()

Excluir registros do banco de dados

In [ ]:
def deleteRow():
     conn = sql.connect("tt25.db")
     cursor = conn.cursor()
     instruccion = f"delete from t25_notas where nome = 'Wenega Wama Nuevo'"
     cursor.execute(instruccion)
     conn.commit()
     conn.close()

Para iniciar a manipulação do banco de dados, você deve liberar as funções de acordo com o que você precisa.

In [ ]:
if __name__=="__main__":
    #createDB()
    #createTable()
    #insertRow("Wenega Wama Nuevo",88.67,23.11,0,14.8125)
    #insertRows(turma25_datos)
    #readRow()
    #updateFields()
    #readOrdered("nome")
    #deleteRow()
    #readRow()
    print("libere a função que deseja executar")

('Wenega Wama Nuevo', 88.67, 23.11, 0.0, 14.8125)
('Wenega Wama', 88.67, 23.11, 0.0, 14.8125)
('Andrea Graciela Sánchez Rivero', 100.0, 65.67, 31.5, 47.5321875)
('Andres David Pinto Hurtado', 100.0, 84.11, 15.0, 42.4059375)
('Andres Gabriel Reinoza Arteaga', 100.0, 76.78, 95.5, 90.656875)
('Antony José Linares Guevara', 77.67, 74.89, 79.15, 77.813125)
('Anyela Coromoto Arboleda Angarita', 88.67, 78.67, 73.85, 76.595)
('Consuelo Ascanio de Balabu', 100.0, 92.44, 93.65, 93.905)
('Daily Carolina Campos Jimenez', 100.0, 100.0, 84.3, 90.1875)
('Danilson Nunes Dos Reis', 100.0, 81.44, 79.8, 82.155)
('Denis Omar Alayza Delgadillo', 100.0, 34.11, 0.0, 18.9684375)
('Elvin Efraín Conopoy Tortoza', 88.67, 96.33, 96.95, 95.999375)
('Emmanuel Phillipe Seme Ndjeng', 100.0, 26.78, 0.0, 16.906875)
('Francisco Alfredo', 0.0, 0.0, 0.0, 0.0)
('Gabriela Isabel Centeno Guevara', 100.0, 0.0, 0.0, 9.375)
('German Ulises Guaigua Guacaran', 0.0, 0.0, 0.0, 0.0)
('Giselle Cordone', 100.0, 79.56, 38.05, 55.5325)
('Gonzalez Pinto Johana Joselín', 100.0, 60.22, 40.55, 51.655625)
('Handy Claude Marie Milliance', 0.0, 0.0, 0.0, 0.0)
('Heber Oswaldo Abreu Castillo', 100.0, 80.44, 62.5, 71.06125)
('Irene Del Rosario Mejías Álvarez', 77.67, 47.22, 50.0, 51.8121875)
('Jesus Pasillas Buenrostro', 100.0, 89.78, 87.8, 89.500625)
('Jhoel Marcial Gonzalez Azocar', 100.0, 90.67, 91.95, 92.3446875)
("Jocelyne Botshimbo M'Pusa", 100.0, 86.0, 87.55, 88.28125)
('Jovino Esteban Guerrero Toledo', 100.0, 96.22, 54.2, 70.311875)
('Karina Madelaine Perdomo Garces', 100.0, 78.78, 30.25, 50.438125)
('Katherine Andrea Boscan Perdomo', 88.67, 80.44, 71.35, 75.5303125)
('Katty Josefina Perdomo Garces', 88.67, 73.11, 76.45, 76.65625)
('Leonor Cecilia Pinto Nino', 0.0, 0.0, 0.0, 0.0)
('Lismary Carolina Sandoval Mendez', 88.67, 63.89, 85.85, 79.938125)
('Luis Alejandro Ariza Arredondo', 100.0, 82.33, 0.0, 32.5303125)
('Luis Andres Rattia Montoya', 100.0, 96.33, 52.5, 69.2803125)
('Manuel Jose Rodriguez Izquierdo', 44.33, 33.22, 36.1, 36.0615625)
('Marcia Joaquim Da Silva', 88.67, 96.22, 74.95, 82.2184375)
('Marcos Martins Simao', 0.0, 0.0, 0.0, 0.0)
('Maribel Colmenares De Nieto', 100.0, 76.78, 76.15, 78.563125)
('Marioxis Katiuska Macías Cuyare', 100.0, 75.89, 84.1, 73.9065625)
('Markelys Alexandra Pernia Leon', 100.0, 73.0, 89.15, 76.25)
('Michael Junior Reyes Allen', 100.0, 82.33, 89.95, 88.7490625)
('Nelson Mondela Cemelus Delva', 0.0, 0.0, 0.0, 0.0)
('Nohelimar Josefina Gil Guzman', 100.0, 52.89, 13.7, 32.8128125)
('Nzagi Francisco Teca', 0.0, 0.0, 0.0, 0.0)
('Pedro Francisco Abreu Arenas', 100.0, 79.56, 92.35, 89.47)
('Randal Anrgenis Martinez Velasquez', 33.33, 3.67, 0.0, 4.156875)
('Rosanny Janniryth Zapata La Rosa', 100.0, 89.78, 44.7, 62.563125)
('Ruben Dario Vasquez Barreto', 100.0, 85.11, 91.0, 90.1871875)
('Rudilson Manuel Ié', 100.0, 100.0, 67.05, 79.40625)
('Sofia Valentina Rumbos Nieves', 100.0, 100.0, 95.5, 97.1875)
('Vijanti Michelle Hardeo Gómez', 0.0, 0.0, 0.0, 0.0)
('Virginia Jannalyth Zapata La Rosa', 100.0, 67.44, 0.0, 28.3425)
('Wenega Wama', 88.67, 23.11, 0.0, 14.8125)
('Wenega Wama Nuevo', 88.67, 23.11, 95.8, 75.85)
('Yahiry Celex Sam', 100.0, 65.56, 68.55, 70.6575)
('Wenega Wama', 88.67, 23.11, 0.0, 14.8125)