<a href="https://colab.research.google.com/github/pfabreuave/practicas_colab/blob/main/dicpan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
datos = {
        'Consuelo': [100, 92.4, 5, 38.49875],
        'Daily': [100, 100, 68.55, 80.34375],
        'Danilson': [100, 81.44, 0, 32.28],
        'Denis': [100, 34.11, 0, 18.9684375],
        'Elvin': [88.67, 96.33, 87.95, 90.374375]
      }

In [ ]:
mat =  ["Ctrl Proj", "Vers Git", "Prog Python", "Ponderada"]

notas_alumnos = {}

In [ ]:
df = pd.DataFrame(datos, index=mat)
df = df.T
#df = df.Ponderada
df

          Ctrl Proj  Vers Git  Prog Python  Ponderada
Consuelo     100.00     92.40         5.00  38.498750
Daily        100.00    100.00        68.55  80.343750
Danilson     100.00     81.44         0.00  32.280000
Denis        100.00     34.11         0.00  18.968438
Elvin         88.67     96.33        87.95  90.374375

In [ ]:
from pandas.core import describe
df = pd.DataFrame(datos, index=mat)
df = df.T
df.describe().round(2)

       Ctrl Proj  Vers Git  Prog Python  Ponderada
count       5.00      5.00         5.00       5.00
mean       97.73     80.86        32.30      52.09
std         5.07     27.04        42.55      31.38
min        88.67     34.11         0.00      18.97
25%       100.00     81.44         0.00      32.28
50%       100.00     92.40         5.00      38.50
75%       100.00     96.33        68.55      80.34
max       100.00    100.00        87.95      90.37

In [ ]:
df.isna().sum()

Ctrl Proj      0
Vers Git       0
Prog Python    0
Ponderada      0
dtype: int64